<h1 id="tableLabel">Weather forecast</h1>
<p *ngIf="!forecasts"><em>Loading...</em></p>
<p-table [value]="forecasts">
  <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-forecast>
      <tr>
        <td>{{ forecast.date }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
  </ng-template>
</p-table>
