<div class="d-flex">
    <div class="mr-2">
        <div class="p-1">
            <button pButton type="button" (click)="novoSegmento()" label="Novo Segmento"></button>
        </div>
    </div>
    <div>
        <p-table class="mt-4" [value]="segments" selectionMode="single" [(selection)]="segmentSelect"
        (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Segmento</th>
                    <th>Taxa</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-segment>
                <tr [pSelectableRow]="rowData">
                    <td>{{segment.name}}</td>
                    <td>{{segment.tax}}%</td>
                    <td style="text-align:center">
                        <button  pButton type="button" icon="pi pi-times"
                            class="ui-button-info" (click)="onRowRemove(rowData)"></button>
                        
                    </td>
                </tr>              
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [header]="headerDialog" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <form [formGroup]="segmentForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="p-fluid">
            <div class="p-field">
                <label for="name"class="required">Nome</label>
                <input id="name" name="name" formControlName="name" type="text" pInputText>
                
            </div>
            <div class="p-field">
                <label for="tax" class="required">Taxa</label>
                <input id="tax" name="tax" formControlName="tax" type="text" pInputText>                
            </div>  
        </div>
    </form>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onSubmit()" label="Salvar" class="p-button-success" [disabled]="!segmentForm.valid"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{width: '50vw'}" [baseZIndex]="10000">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>        
    </ng-template>
</p-confirmDialog>
<p-toast position="top-right"></p-toast>